<template>
  <div class="\&quot;page-$1\&quot;">
    <ManagePage ref="\&quot;page-manage-$1\&quot;/"/></managepage></div>
</template>
<script>
import ManagePage from '@/components/ManagePage/ManagePage'

export default {
  head: {
    title: '$2'
  },
  layout: 'admin',
  components: {
    ManagePage: ManagePage
  },
  data() {
    return {}
  },
  beforeCreate() {
    this.$setPage({
      title: '$2',
      moduleName: '$3'
    });
  },
  methods: {},
}
</script>
<style>
/* 自定义样式 */
</style>